<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Product List</title>
  </head>
  <body>
	    <div class="container mt-5 w-75">
	     
	        <div th:replace="~{fragments/header :: header(list)}"></div>
	          <div class="table-responsive mt-3">
	       		<table class="table table-striped table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Brand</th>
				      <th scope="col">Size</th>
				      <th scope="col">Price</th>
				       <th scope="col">Description</th>
				      <th scope="col">#</th>
				      <th scope="col">#</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="product : ${products}">
				      <td th:text="${product.idProduct}"></td>
				       <td th:text="${#strings.toUpperCase(product.brand)}"></td>
				      <td th:text="${#strings.toUpperCase(product.size)}"></td>
				      <td th:text="${#strings.toUpperCase(product.price)}"></td>
				     <td th:text="${#strings.toUpperCase(product.description)}"></td> 
				        <td><a th:href="@{/updatepro/} + ${product.idProduct}">Order</a></td>
				        <td><a th:href="@{/delete/} + ${product.idProduct}">Remove</a></td>
				    </tr>
				  </tbody>
				</table>
	          </div>
	         </div>
	           <div th:replace="~{fragments/header :: scripts}"></div>
 </body>

</html>